<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Snak Chat</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Snak Chat</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      <img src="https://imgur.com/KqADgYc.jpeg">
      {{{ body }}}
    </main>
    <footer>
      Thanks for taking a snack break with us!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>