<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>SnakChat</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1 class="logo">
        <img src="/images/logo.jpg"/>
        <a href="/">SnakChat</a>
      </h1>
      <div class="topnav">
        <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
      <nav>
        <h2 class="logo">
        {{#if loggedIn}}
        <a class="navText" href="/candy">candy</a>
        <a class="navText" href="/chips">chips</a>
        <a class="navText" href="/icecream">ice cream</a>
        <a class="navText" href="/cereal">cereal</a>
        <a class="navText" href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style navText">logout</button>
        {{else}}
        <a class="navText" href="/candy">candy</a>
        <a class="navText" href="/chips">chips</a>
        <a class="navText" href="/icecream">ice cream</a>
        <a class="navText" href="/cereal">cereal</a>
        <a class="navText" href="/login">login</a>
        {{/if}}
        </h2>
      </nav>
    </header>
    <section class="hero">
      <img src="/images/banner.jpg"/>
    </section>
    <main>

      {{{ body }}}
    </main>
    <footer>
      Thanks for taking a snack break with us!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>